{{#with content as task}}
<form {{action 'saveTask' task on="submit"}}>
    <label>
        Title
        {{input value=task.title}}
    </label>
    <label>
        Description
        {{textarea value=task.description}}
    </label>
    <button type="submit">Save</button>
    {{link-to 'Back' 'project' task.project}}
</form>


{{/with}}
